.results {
   h1 {
      margin: 0;
      padding: 0;
   }
   p {
      margin: 0;
      padding: 0;
   }
}

.needingWork {
   height: 45%;
}

.wordlist {
   height: 100%;
   text-align: left;
   overflow-y: scroll;
   margin: 0;
   padding: 0;
   border: 2px solid $color-border;
   border-radius: 4px;
   color: $color-detail-text;
   li {
      list-style-type: none;
      margin: 0;
      padding: 0.5em 1.5em;
      border-bottom: 1px solid $color-border;
      &:last-of-type{
         border-bottom: 0;
      }
   }
   .sideA {
      color: $color-text;
   }
   .sideB {
      color: $color-lighter-text;
   }
}

.percentCorrect {
   color: $color-detail-text;
}
