<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,greek' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
   <div id="wrapper"></div>
   <script type="text/template" id="template-welcomeview">
      <div class="contents">
         <h1>Select deck:</h1>
         <div class="decks"></div>
      </div>
   </script>
   <script type="text/template" id="template-decklistitem">
      <a href="#">
         <span class="name"><%- name %></span>
         <% if (targetLocale) { %>
            <span class="deckFlag targetLocale"><%- targetLocale %></span>
         <% } %>
         <% if (underDevelopment) { %>
            <span class="deckFlag development">dev</span>
         <% } %>
         <span class="cardCount"><%- cardCount %> cards</span>
      </a>
   </script>
   <script type="text/template" id="template-wordlistitem">
      <span class="sideA"><%= a %></span>&nbsp;-&nbsp;<span class="sideB"><%= b %></span>
   </script>
   <script type="text/template" id="template-no-words-positive">
      None here! :-)
   </script>
   <script type="text/template" id="template-deckcard">
      <div class="headerbar">
         <a href="#" class="homebutton"><i class="fa fa-home"></i></a>
         <div class="progress">
            <span class="current"><%- readableIndex %></span>&nbsp;of&nbsp;<span class="total"><%- cardCount %></span>
         </div>
      </div>
      <div class="contents"></div>
   </script>
   <script type="text/template" id="template-wordside">
      <a href="#" class="flip">
         <span class="word"><%= a %></span>
      </a>
   </script>
   <script type="text/template" id="template-answerside">
      <div class="answer">
         <div><%= b %></div>
      </div>
      <div class="outcome">
         <a href="#" class="outcome-button wrong"><i class="fa fa-times-circle-o"></i></a>
         <a href="#" class="outcome-button correct"><i class="fa fa-check-circle-o"></i></a>
      </div>
   </script>
   <script type="text/template" id="template-resultsview">
      <div class="headerbar">
         <a href="#" class="homebutton"><i class="fa fa-home"></i></a>
      </div>
      <div class="contents">
         <h1>Finished!</h1>
         <p><%- numberCorrect %> cards correct <span class="percentCorrect">(<%- percentageCorrect %>%)</span></p>
         <h2>Cards needing work:</h2>
         <div class="needingWork"></div>
      </div>
   </script>
   <script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>
