.card {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   max-width: 580px;
   max-height: 348px;
   background-color: $color-card-background;
   border-radius: 4px;
   padding: 16px;
   box-sizing: border-box;
   border-bottom: 1px solid $color-card-lowerborder;
}

.headerbar {
   color: $color-navbar-link;
   width: 100%;
   height: 40px;
   .homebutton {
      width: 40px;
      height: 100%;
      font-size: 1.3em;
   }
   .progress {
      float: right;
   }
   a {
      color: $color-navbar-link;
      text-decoration: none;
      &:hover {
         color: $color-navbar-link--hover;
      }
   }
}

.contents {
   position: relative;
   text-align: center;
   display: block;
   height: 100%;
   width: 100%;
   padding-bottom: 64px;
   box-sizing: border-box;
}
