html, body {
   background-color: $color-background;
   color: $color-text;
   padding: 0;
   margin: 0;
   height: 100%;
   position: relative;
   font-family: 'Open Sans', sans-serif;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
   font-weight: 600;
}
