$color-background: #fcfcfc;

$color-card-background: #d9d9d9;
$color-card-background--hover: darken($color-card-background, 10%);
$color-card-lowerborder: #cccccc;

$color-border: #aaaaaa;

$color-navbar-link: #878787;
$color-navbar-link--hover: darken($color-navbar-link, 10%);

$color-text: #242424;
$color-lighter-text: lighten($color-text, 6%);
$color-bold-text: lighten($color-text, 5%);
$color-detail-text: #999999;
$color-additional-text: #676767;

$color-flag-text: #888888;
$color-flag-background: #bbbbbb;

$color-wrong-text: #BB0008;
$color-wrong-text--hover: darken($color-wrong-text, 10%);
$color-correct-text: #408000;
$color-correct-text--hover: darken($color-correct-text, 10%);

$color-symbol-user: #372A52;
$color-symbol-context: #999999;
$color-symbol-second-person: #34663B;
$color-symbol-third-person: $color-text;
$color-symbol-scope: #bbbbbb;
